<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ayristirma Sonucu</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>-->
    <link
      href="//mincss.com/entireframework.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static', filename = 'css/app.css')}}"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      background-color: #000; /* Arka plan rengini siyah (#000) olarak ayarlar */
    }
  </style>
  <body>
    <nav class="nav" tabindex="-1" onclick="this.focus()">
      <div class="container">
        <a class="pagename current" href="#">ELE 495- Grup 4</a>
      </div>
    </nav>
    <button class="btn-close btn btn-sm">×</button>
    <div class="container">
      <div class="hero" id="state-box">
        <div class="state-box-content">
          <!-- The state text will be placed here -->
        </div>
      </div>
    </div>
    <div class="display-box" id="display-box"></div>
    <script type="text/javascript">
      const displayBox = document.getElementById("display-box");
      const stateBox = document.getElementById("state-box");
      const MAX_DATA_COUNT = 5;
      var counter = 0;
      //connect to the socket server.
      //var socket = io.connect("http://" + document.domain + ":" + location.port);
      var socket = io.connect();

      //receive details from server
      socket.on("updateSensorData", function (msg) {
        console.log("Received sensorData :: " + msg.date + "::" + msg.value + '::' + msg.seqNumber);

        const content = `
        <div class="display-box">
          <h1>${msg.seqNumber}</h1>
          <span>
            <p>
              <strong>${msg.value}</strong> ${msg.date}
            </p>
          </span>
        </div>
        `;

        
        
        displayBox.insertAdjacentHTML("beforeend", content);
      });
      socket.on("updateStateData",function(state) {
        console.log("Current state is :: " + state.state);
        const stateContent = `
        <div class="state-box-content">
          <state-box>${state.state}</state-box>
        </div>
      `;
      stateBox.innerHTML = stateContent;  // Update the content of the box every call of this function

      });  
    </script>
  </body>
</html>
